<suite name="ToyRobot_Test_Simulation">
    <test name="Simulation_Test_Suite">
        <classes>

            <class name="simulation_Tests.testSimulation" />
            <class name="simulation_Tests.testDirections" />
            <class name="simulation_Tests.testPosition" />

        </classes>
    </test>
</suite>