<suite name="ToyRobot_Test_Simulation">
    <test name="Simulation_Test_Suite">
        <classes>

            <class name="ToyRobot_Test_Suite.testSimulation" />
            <class name="ToyRobot_Test_Suite.testDirections" />
            <class name="ToyRobot_Test_Suite.testPosition" />
            <class name="ToyRobot_Test_Suite.testRobot" />

        </classes>
    </test>
</suite>